<section class="content premio">
  <div class="row ps-20 a-center j-center">
      <div class="logo-section a-center condiciones-cont">
          <div class="logo-promo">
            <h1><span class="top-titulo texto-amarillo">SIGUE</span><br>PARTICIPANDO</h1>
          </div>
      </div>
      <div class="ruleta-premios">
          <div class="ruleta-glow">
              <img class="ruleta-home perdio" src="../../../assets/images/ruleta-login.png" alt="">
              <img class="glow-ruleta-home perdio" src="../../../assets/images/luces.png" alt="">
          </div>
      </div>
  </div>
</section>
<a (click)="volverAJugar()" class="btn-2 center">Volver a Jugar</a>
