<section class="content">
  <div class="row ps-20 a-center j-center">
    <div class="logo-section a-center">
      <div class="logo-promo">
        <img src="../../../assets/images/logo-login.png" alt="">
      </div>
      <a [routerLink]="['/registro']" class="btn-1"> Regístrate</a>
    </div>
    <div class="ruleta-premios">
      <div class="ruleta-glow">
        <img class="ruleta-home" src="../../../assets/images/ruleta-login.png" alt="">
        <img class="glow-ruleta-home" src="../../../assets/images/luces.png" alt="">
      </div>
    </div>
    <div class="logos-patro-container">
      <div class="logos-inicio">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../assets/images/logos/campero.jpg" alt=""></ng-template>
          <ng-template carouselSlide><img src="../../../assets/images/logos/da-gas.jpg" alt=""></ng-template>
          <ng-template carouselSlide><img src="../../../assets/images/logos/tigo.png" alt=""></ng-template>
          <ng-template carouselSlide><img src="../../../assets/images/logos/banrural.jpg" alt=""></ng-template>
          <ng-template carouselSlide><img src="../../../assets/images/logos/taco-bell.jpg" alt=""></ng-template>
          <ng-template carouselSlide><img src="../../../assets/images/logos/sherwin.jpg" alt=""></ng-template>
          <ng-template carouselSlide><img src="../../../assets/images/logos/promerica.jpg" alt=""></ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>

</section>
