<section class="content">
    <div class="row ps-20 a-center j-center">
        <div class="logo-section a-center">
            <div class="logo-promo">
                <img src="../../../assets/images/logo-login.png" alt="">
            </div>
            <a [routerLink]="['/registro']" class="btn-1"> Registrate</a>
        </div>
        <div class="ruleta-premios">
            <div class="ruleta-glow">
                <img class="ruleta-home" src="../../../assets/images/ruleta-login.png" alt="">
                <img class="glow-ruleta-home" src="../../../assets/images/luces.png" alt="">
            </div>
        </div>
        <owl-carousel-o [options]="customOptions" class="logos-inicio">
            <ng-template carouselSlide><img src="../../../assets/images/logos/bac.png" alt=""></ng-template>  
            <ng-template carouselSlide><img src="../../../assets/images/logos/bam.png" alt=""></ng-template>  
            <ng-template carouselSlide><img src="../../../assets/images/logos/banco promerica.png" alt=""></ng-template>  
            <ng-template carouselSlide><img src="../../../assets/images/logos/banrural.png" alt=""></ng-template>  
            <ng-template carouselSlide><img src="../../../assets/images/logos/chn.png" alt=""></ng-template>  
            <ng-template carouselSlide><img src="../../../assets/images/logos/gyt.png" alt=""></ng-template>  
            <ng-template carouselSlide><img src="../../../assets/images/logos/inter.png" alt=""></ng-template>  
          </owl-carousel-o>
    </div>
    
</section>