@font-face {
  font-family: 'abraham_stampstamp';
  src: url('./fonts/fontsfree-net-6abrahamstamp-webfont.woff2') format('woff2'),
    url('./fonts/fontsfree-net-6abrahamstamp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'parsley_sauce_demoregular';
  src: url('./fonts/parsleysaucedemoregular-webfont.woff2') format('woff2'),
    url('./fonts/parsleysaucedemoregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'visby_cfbold';
  src: url('./fonts/visbycf-bold-webfont.woff2') format('woff2'),
    url('./fonts/visbycf-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'visby_cfbold_oblique';
  src: url('./fonts/visbycf-boldoblique-webfont.woff2') format('woff2'),
    url('./fonts/visbycf-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'visby_cfheavy';
  src: url('./fonts/visbycf-heavy-webfont.woff2') format('woff2'),
    url('./fonts/visbycf-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*defaults*/
:root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
}

app-home,
app-formulario,
app-ruleta,
app-condiciones,
app-login,
app-resetpassword {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 90vh;
  align-content: center;
}

.row.condiciones {
  height: auto;
}

.wrap {
  flex-wrap: wrap;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.p-20 {
  padding: 20px;
}

.ps-20 {
  padding: 0 20px;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content.premio {
  height: 95%;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 10% 0 0 0; */
  }

  .row {
    flex-wrap: wrap;
  }
}

/*fondos*/
.logo-5b {
  display: inline-block !;
  width: auto;
  left: 1%;
  z-index: 97;
}

.condiciones-btn {
  z-index: 4;
  height: 47px;
  line-height: 0;
  margin: 15px auto;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px !important;
}

.estadio-template {
  margin: 0;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}


@media only screen and (min-width: 1280px) {}

@media only screen and (max-width: 600px) {}

/*botones*/
.btn-1 {
  display: block;
  font-family: 'visby_cfbold';
  padding: 10px 40px;
  border: solid 4px #ffcf00;
  color: #ffcf00;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  font-size: 25px;
  background-color: #17264a;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms;
}

.btn-1:focus {
  outline: none;
}


.btn-1:hover {
  transform: scale(1.1);
}

.btn-2 {
  display: block;
  font-family: 'visby_cfbold';
  padding: 10px 40px;
  border: solid 4px #17264a !important;
  color: #17264a !important;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  font-size: 25px;
  background-color: #ffcf00 !important;
  font-family: sans-serif;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms;
}

.btn-2:focus {
  outline: none;
}


.btn-2:hover {
  background-color: #ffe364 !important;
}

.modal-btn {
  position: relative;
  border: solid 0px !important;
  font-weight: 700;
  margin: 0 0 0 0;
  bottom: 24px;
}

.modal-btn:focus {
  outline: none;
}


/*home*/
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ruleta-premios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -20px 0 0;
  /*height: 100%;*/
}

.ruleta-glow {
  max-width: 1120px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ruleta-home {
  z-index: 2;
  order: 2;
  position: relative;
}

.glow-ruleta-home {
  z-index: 0;
  order: 1;
  mix-blend-mode: screen;
  width: 120% !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -88px;
  right: 0;
  text-align: center;
  top: 0;
}

.logo-promo {
  max-width: 799px;
  width: 100%;
}

.logo-promo img {
  width: 100%;
  object-fit: contain;
}

.ruleta-glow {
  max-width: 1120px;
  width: 100%;
  height: 100%;
}

.ruleta-glow img {
  width: 100%;
  object-fit: contain;
  max-width: 790px;
}

.ruleta-glow .perdio {
  width: 95%;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .logo-promo {
    max-width: 799px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
  }

  .logo-promo img {
    width: 60%;
    object-fit: contain;
    margin-left: -30px;
    margin-bottom: 20px;
  }

  .ruleta-premios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px -20px 0 -20px;
    height: auto;
  }

  .form-group2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
  }

  .form-group2 div>input, .form-group2 div>select {
    width: 100% !important;
  }
}

.logos-patro-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  padding: 0 50px;
  background: white;

}

.logos-inicio {
  max-width: 60vw;
  margin: 0 auto;
}

/*formulario*/
.glow-form-bg {
  mix-blend-mode: screen;
  position: absolute;
  z-index: 0;
  height: 100%;
  animation: flickerAnimation 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.form-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.form-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.error-msg {
  display: block;
  background-color: #b30000;
  color: #ffffff;
  padding: 5px;
  width: 100%;
  border: solid 0px #17264a;
  margin: 5px auto 0 auto;
  font-size: 17px;
  font-family: sans-serif;
  text-align: center;
}

.img-reg {
  width: 100%;
  max-width: 424px;
}

.img-reg-info {
  width: 100%;
  max-width: 424px;
  margin-top: 25px;
}

.img-logo {
  margin: 0 0px 15px -43px;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  align-items: center;
  padding: 25px;
  z-index: 1;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-group .input-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group2 .input-group {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
}

.form-group2 .input-group .error-msg {
  width: 100%;
}

.form-group2 .input-group>input, .form-group2 .input-group>select {
  width: 100%;
  display: block;
  height: fit-content;
}

.formulario input, .formulario select {
  font-family: 'visby_cfbold';
  display: block;
  padding: 10px;
  border: solid 4px #ffcf00;
  color: #ffcf00;
  text-decoration: none;
  font-size: 20px;
  background-color: #17264a;
  border-radius: 10px;
  width: 100%;
  margin: 15px 0 0 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill {
  background-color: #17264a !important;
  border: solid 4px #ffcf00;
  color: #ffcf00 !important;
  background-image: inherit !important;
}

.formulario input::placeholder, .formulario select::placeholder {
  color: #ffcf00;
}

.custom-input-file {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 400px;
  font-family: 'visby_cfbold';
  display: block;
  padding: 10px;
  border: solid 4px #ffcf00;
  color: #ffcf00 !important;
  background-image: inherit !important;
  text-decoration: none;
  font-size: 20px;
  background-color: #17264a;
  border-radius: 10px;
  width: 100%;
  margin: 15px 0 0 0;
}

.clip-img {
  width: 30px;
  height: 30px;
  background-image: url(../images/clip.png);
  display: block;
  position: absolute;
  top: 5px;
  left: 240px;
  background-size: contain;
}

.custom-input-file .input-file {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  z-index: 3;
}

@media only screen and (max-width: 1444px) {

  .logos-patro-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
    padding: 0 50px;
    background: white;

  }

  .logos-inicio {
    max-width: 80vw;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 600px) {

  .logos-inicio {
    max-width: 100vw;
    margin: 0 auto;
  }

  .form-content {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .form-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 50px 0 0 0;
  }

  .img-reg {
    width: 80%;
    max-width: 424px;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    align-items: center;
    padding: 20px 25px 80px 25px;
    z-index: 1;
  }

  .form-group2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
  }

  .form-group2 .input-group {
    width: 100% !important;
  }

  .form-group2 .input-group>input, .form-group2 .input-group>select {
    width: 100% !important;
  }
}

/*ruleta*/
.estadio-luces {
  background-position: center top;
  background-size: cover;
}

.logo-game {
  max-width: 799px;
  width: 100%;
}

.logo-game img {
  width: 100%;
  object-fit: contain;
}

.ruleta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -20px 0 0;
  position: relative;
}

.spin-ruleta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow {
  position: absolute;
  top: 0;
  width: 8%;
  z-index: 3;
}

.ruleta-game-cont {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
}

.ruleta {
  width: 100%;
  z-index: 1;
}

.ruleta.animate {
  animation: spin 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ruleta-luces {
  width: 125%;
  position: absolute;
  mix-blend-mode: screen;
  z-index: 2;
}

.ruleta-luces.animate {
  animation: flickerAnimation 1000ms, spin 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ruleta.animate_fast {
  transform: rotate(90deg);
  animation: spin 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ruleta-luces.animate_fast {
  animation: flickerAnimation 500ms, spin 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bottom-btn {
  position: absolute;
  bottom: 9%;
  z-index: 3;
}

.img-tuleta-glow {
  position: absolute;
}

.glow-ruleta-game {
  z-index: 0;
  order: 1;
  mix-blend-mode: screen;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -17%;
  right: 0;
  text-align: center;
  height: 100%;
}

/*condiciones*/
.estadio-fondo-2 {
  background-image: url(../images/fondo-2.jpg);
  background-color: rgba(0, 24, 115, 0.5);
  border-radius: 15px;
  background-position: center -293px;
  background-size: 1920px;
  background-color: #010a31;
  background-repeat: no-repeat;
}

.estadio-fondo-2 .row {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: unset !important;
  align-content: center;
}

.estadio-fondo-2 .logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.estadio-fondo-2 .logo-promo {
  max-width: 799px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.estadio-fondo-2 .logo-promo img {
  width: 80%;
  object-fit: contain;
}

.estadio-fondo-2 .ruleta-glow img {
  width: 70%;
  object-fit: contain;
}

.estadio-fondo-2 .glow-ruleta-home {
  z-index: 0;
  order: 1;
  mix-blend-mode: screen;
  width: 100% !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 21px;
  right: 0;
  text-align: center;
  top: -12%;
}

.condiciones-cont {
  color: white;
  max-width: 1250px;
  padding: 50px;
}

.condiciones-cont h1 {
  font-family: 'abraham_stampstamp';
  color: white;
  font-size: 130px;
  font-weight: 100;
  text-align: center;
  line-height: 90px;
  margin: 0;
}

.top-titulo {
  font-size: 100px;
}

.condiciones-cont p {
  font-family: 'visby_cfbold';
  color: white;
  font-size: 30px;
}

.texto-amarillo {
  color: #ffdd40;
}

.img_container>app-gracias>.content.premio>div>img {
  width: auto;
  height: 80%;
  max-height: 80vh;
  margin: auto;
}

.img_container {
  width: 80%;
  height: auto;
}

.modal_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: auto;
  height: 80vh;
}

.row-modal .condiciones-cont {
  color: white;
  max-width: 1250px;
  padding: 0;
  width: 50%;
}

.row-modal .ruleta-premios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -20px 0 0;
  width: 50%;
}

.img_container>div>img {
  /*width: auto;
  height: 85%;
  max-height: 88vh;
  margin: auto;*/
  height: 100%;
  object-fit: contain;
  max-width: 430px;
  max-height: 100%;
  width: 100%;
}

.modal-ruleta {
  width: 50%;
  object-fit: contain;
}

.premio-texto {
  width: 50%;
  display: flex;
}

.premio-texto img {
  width: 100%;
  object-fit: contain;
}

.premio-imagen {
  width: 60%;
  display: flex;
}

.premio-imagen img {
  width: 100%;
  object-fit: contain;
}

.modal-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1700px) {

  .modal-body.premio .top-titulo {
    font-size: 60px;
  }

  .modal-body.premio .condiciones-cont h1 {
    font-family: 'abraham_stampstamp';
    color: white;
    font-size: 87px;
    font-weight: 100;
    text-align: center;
    line-height: 61px;
    margin: 0;
  }

  .modal-body.premio .glow-ruleta-home {
    z-index: 0;
    order: 1;
    mix-blend-mode: screen;
    width: 105% !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -2px;
    right: 0;
    text-align: center;
    top: -7%;
  }

}

@media only screen and (max-width: 1280px) {

  .row-modal .condiciones-cont {
    color: white;
    max-width: 1250px;
    padding: 0;
    width: 100%;
    min-width: 372px;
  }

  .row-modal .ruleta-premios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0;
    width: 60%;
  }

  .modal-body.premio .top-titulo {
    font-size: 60px;
  }

  .modal-body.premio .condiciones-cont h1 {
    font-family: 'abraham_stampstamp';
    color: white;
    font-size: 87px;
    font-weight: 100;
    text-align: center;
    line-height: 61px;
    margin: 0;
  }

  .modal-body.premio .glow-ruleta-home {
    z-index: 0;
    order: 1;
    mix-blend-mode: screen;
    width: 105% !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -2px;
    right: 0;
    text-align: center;
    top: -7%;
  }

}

@media only screen and (max-width: 600px) {


  .premio-imagen {
    width: 100%;
    display: flex;
  }

  .premio-texto {
    width: 100%;
    display: flex;
  }

  .premio-texto img {
    width: 100%;
    object-fit: contain;
    margin: 50px 0 15px 0;
  }

  .modal-body.premio .top-titulo {
    font-size: 50px;
  }

  .modal-body.premio .condiciones-cont h1 {
    font-family: 'abraham_stampstamp';
    color: white;
    font-size: 54px;
    font-weight: 100;
    text-align: center;
    line-height: 45px;
    margin: 0;
  }

  .modal-body.premio .glow-ruleta-home {
    z-index: 0;
    order: 1;
    mix-blend-mode: screen;
    width: 105% !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -2px;
    right: 0;
    text-align: center;
    top: -7%;
  }

  .img_container>app-gracias>.content.premio>div>img {
    width: 88%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .row-modal {
    height: 50vh;
  }

  .row-modal .condiciones-cont {
    color: white;
    max-width: 1250px;
    padding: 0;
    width: 100%;
    min-width: auto;
  }

  .row-modal .ruleta-premios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }

  .modal-ruleta {
    width: 100%;
    object-fit: contain;
  }

  .img_container {
    width: 100%;
    height: auto;
    display: flex;
  }

  .img_container>div>img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .condiciones-cont {
    color: white;
    max-width: 1250px;
    padding: 25px;
  }

  .condiciones-cont h1 {
    font-family: 'abraham_stampstamp';
    color: white;
    font-size: 54px;
    font-weight: 100;
    text-align: center;
    line-height: 45px;
    margin: 0;
  }

  .top-titulo {
    font-size: 50px;
  }

  .condiciones-cont p {
    font-family: 'visby_cfbold';
    color: white;
    font-size: 15px;
  }

  .estadio-fondo-2 .logo-promo {
    max-width: 799px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
}

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal.close {
  animation-name: animateback;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animateback {
  from {
    top: 0;
    opacity: 1
  }

  to {
    top: -300px;
    opacity: 0
  }
}

/* Modal Content/Box */
.modal-body {
  background-color: rgba(0, 24, 115, 0.8);
  padding: 0px 20px 20px 20px;
  border-radius: 15px;
  border: 1px solid #888;
  margin: auto;
  z-index: 99;
  width: 90%;
  /* Could be more or less, depending on screen size */
}

.modal-body.premio {
  width: 60%;
  background-color: transparent;
  background-size: 100% 100%;
  padding: 0 70px;
  border: solid 0px;
  /*min-height: 45vh;*/
  background-image: url(../images/fondo-modal.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.modal-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: rgb(1 33 72);
  float: right;
  position: absolute;
  right: 5%;
  top: 1%;
  font-size: 53px;
  font-weight: bold;
  z-index: 5;
  background-color: #ffcf00;
  border-radius: 50px;
  padding: 0 15px;
  transition: 300ms;
}

.close:hover,
.close:focus {
  color: #ffcf00;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(1 33 72);
}

/*
.img_container {
  width: 100%;
  height: auto;
  align-content: space-between;
  height: 100%;
}

.img_container>app-gracias>.content.premio>div {
  display: flex;
  margin: auto;
  width: 100%;
  max-height: 90vh;
  padding: 10px 0px 10px 0px;
} */

.center {
  margin-left: auto;
  margin-right: auto;
}

.over {
  display: flex;
}

.background-on {
  background-image: url(../images/fondo.jpg);
}

.background-off {
  background-image: url(../images/app-bg.png);
}

.condiciones-modal {
  padding: 0;
  width: 90vw;
  margin: 35px auto 100px auto;
}

.condiciones-modal .close {
  right: 5.5%;
  top: 5.5%;
}

/*LOGIN*/

.title {
  font-family: 'abraham_stampstamp';
  color: white;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  line-height: 90px;
  margin: 0;
}

.normal-link {
  color: #17264a;
  font-size: 25px;
  font-family: 'visby_cfbold';
  margin: 15px;
}

@media only screen and (max-width: 600px) {

  .title {
    font-family: 'abraham_stampstamp';
    color: white;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    line-height: 56px;
    margin: 0;
  }
}
