<section class="content estadio-luces">
  <div class="row ps-20 a-center j-center">
    <div class="logo-section a-center">
      <div class="logo-game">
        <a><img src="../../../assets/images/logo-login.png" alt=""></a>
      </div>

    </div>
    <div class="ruleta-container">
      <div class="spin-ruleta">
        <img [ngClass]="{'animate': isAnimate(), 'animate_fast': isAnimateFast()}" class="ruleta-luces" src="../../../assets/images/ruleta-luces.png"
          alt="">
        <img [ngClass]="{'animate': isAnimate(), 'animate_fast': isAnimateFast()}" class="ruleta spin-animation" [src]="getRuleta"
          alt="">
        <img class="arrow" src="../../../assets/images/arrow.png" alt="">
        <img class="glow-ruleta-game" src="../../../assets/images/luces.png" alt="">
      </div>
      <a *ngIf="!isAnimate() && !isAnimateFast()" (click)="iniciarJuego()" class="btn-1 bottom-btn">Iniciar juego</a>
    </div>
  </div>
</section>
<ng-template #winner let-modal>
  <div class="modal-body premio" *ngIf="premio">
    <div class="img_container">
      <div>
        <img *ngIf="!premio.winObj" [src]="premio.winObj.img" alt="">
        <app-gracias *ngIf="premio.winObj"></app-gracias>
      </div>
    </div>
  </div>
  <div class="modal-body premio" *ngIf="!premio">
    <div class="img_container">
      <div>
        <app-gracias></app-gracias>
      </div>
    </div>
  </div>
</ng-template>
