<section class="content estadio-fondo-2 wrap">
    <div class="row ps-20 a-center j-center">
        <div class="logo-section a-center">
            <div class="logo-promo">
                <img src="../../../assets/images/logo-login.png" alt="">
            </div>
            <!-- <a [routerLink]="['/registro']" class="btn-1"> Registrate</a> -->
        </div>
        <div class="ruleta-premios">
            <div class="ruleta-glow">
                <img class="ruleta-home" src="../../../assets/images/ruleta-login.png" alt="">
                <img class="glow-ruleta-home" src="../../../assets/images/luces.png" alt="">
            </div>
        </div>
    </div>
    <div class="row ps-20 a-center j-center condiciones wrap">
        <div class="condiciones-cont">
            <h1><span class="top-titulo texto-amarillo">Condiciones</span><br>de participación:</h1>
            <p>1. Promoción valida del 18 de noviembre al 25 de diciembre de 2022 <span class="texto-amarillo">O HASTA AGOTAR EXISTENCIAS DE PREMIOS</span>.</p>
            <p>2. Únicamente se permite 1 participación en la ruleta por comprobante/voucher.</p>
            <p>3. Los premios instantáneos, así como sus indicaciones para canje, serán enviados al correo electrónico
                registrado. En cas de error 5B no podrá modificar las direcciones de correo electrónico ingresadas por
                el participante, por lo que debes de asegurarte de ingresar la información correcta al momento de tu
                registro.</p>
            <p><span class="texto-amarillo">4. Premios:</span></p>
            <p><span class="texto-amarillo">a) PREMIOS AL INSTANTE:</span> serán enviados vía correo electrónico y/o Whatsapp para que puedas canjearlos.</p>
            <p><span class="texto-amarillo">b) REPECHAJE:</span> significa que has sido seleccionado como uno de los participantes de la gran final de la
                JUGADA GANADORA de 5B. Recibirás instrucciones vía correo electrónico y/o Whatsapp.</p>
            <p><span class="texto-amarillo">c) Si obtienes ¡TARJETA ROJA! en la ruleta</span>, NO OBTIENES PREMIO, pero te deseamos mejor suerte en tu
                próxima participación.</p>

        </div>
    </div>
</section>
