<section class="content estadio-fondo-2 wrap">
    <div class="row ps-20 a-center j-center">
        <div class="logo-section a-center">
            <div class="logo-promo">
                <img src="../../../assets/images/logo-login.png" alt="">
            </div>
            <!-- <a [routerLink]="['/registro']" class="btn-1"> Registrate</a> -->
        </div>
        <div class="ruleta-premios">
            <div class="ruleta-glow">
                <img class="ruleta-home" src="../../../assets/images/ruleta-login.png" alt="">
                <img class="glow-ruleta-home" src="../../../assets/images/luces.png" alt="">
            </div>
        </div>
    </div>
    <div class="row ps-20 a-center j-center condiciones wrap">
        <div class="condiciones-cont">
            <h1><span class="top-titulo texto-amarillo">Términos y Condiciones</span><br>de participación:</h1>
            <p>La dinámica <span class="texto-amarillo">“JUGADA GANADORA DE 5B”</span> se regirá bajo los términos y condiciones siguientes. </p>
            <p>1. La <span class="texto-amarillo">“JUGADA GANADORA DE 5B”</span> consiste en una ruleta mundialista
                digital de 5B y sus patrocinadores a
                través de la cual las personas que realicen transacciones en los cajeros automáticos de la red 5B
                tendrán la oportunidad de ganar premios instantáneos o participar en una premiación final.</p>
            <p>2. Podrán participar las personas mayores de dieciocho (18) años con Documento Personal de
                Identificación -DPI- vigente, que realicen transacciones en cualquiera de los cajeros automáticos de la
                red 5B, a quienes podrá denominárseles “los participantes”.</p>
            <p>3. La dinámica estará vigente del <span class="texto-amarillo">18 de noviembre al 25 de noviembre
                    de 2022</span> o hasta agotar existencias de los premios instantáneos que entregarán los
                patrocinadores, lo que suceda primera.
            </p>
            <p>En caso existan circunstancias de fuerza mayor que escapen del control razonable de 5B, éste podrá
                cancelar o suspender la dinámica; aspecto que podrá ser comunicado oportunamente por los medios
                digitales que 5B considere oportuno, sin responsabilidad alguna de ésta.
            </p>
            <p>Los participantes se encuentran limitados a una participación por comprobante/voucher de la transacción
                que realicen en los cajeros automáticos de la red 5B. Por lo tanto, para participar nuevamente deberán
                realizar otra transacción en cualquiera de los cajeros automáticos de la red 5B.
            </p>

            <p>4. Para participar, además de contar con el comprobante/voucher físico emitido por el cajero, las
                personas deberán registrarse en la página <a class="texto-amarillo"
                    href="https://promociones5b.com">https://promociones5b.com</a> e incluir todos los datos que le
                sean requeridos.</p>
            <p>5. La ruleta digital seleccionará automáticamente alguna de las opciones siguientes:</p>
            <p><span class="texto-amarillo">a) PREMIOS AL INSTANTE:</span> Significa que el participante ha ganado un
                premio por lo que se le enviará un cupón o código digital vía correo electrónico y/o whatsapp registrado
                para que pueda ser canjeado.</p>
            <p><span class="texto-amarillo">b) REPECHAJE:</span> Significa que el participante ha sido seleccionado para
                participar en una premiación final de la JUGADA GANADORA DE 5B. El participante recibirá instrucciones
                vía correo electrónico y/o whatsapp registrado.</p>
            <p><span class="texto-amarillo">c) )¡TARJETA ROJA!:</span> Significa que el participante no obtuvo ningún
                premio, pero podrá
                continuar participando las veces que desee siempre y cuando realice otra(s) transacción(es) que
                genere otro(s) comprobante(s)/voucher(s) en los cajeros automáticos de la red 5B.</p>
            <p>6. Las indicaciones de canje de los premios instantáneos serán enviadas al correo electrónico y/o
                whatsapp previamente registrado por el participante. En caso de error del participante en registrar su
                correo electrónico y/o número telefónico, 5B no podrá modificar los datos ingresados por el
                participante. Por lo tanto los participantes son los únicos responsables de ingresar la información
                correcta al momento de su registro.</p>
            <p>7. Los participantes que resulten ganadores de premios instantáneos a través de la ruleta digital deberán
                canjear el premio directamente con el patrocinador. Siendo los patrocinadores los únicos responsables
                por el canje y entrega de los premios. 5B únicamente es responsable por el envío de las indicaciones y
                los códigos digitales de canje a los participantes cuando corresponda, por lo que no se responsabiliza
                por la efectividad del canje de los mismos, por el mal uso de éstos o por la duplicidad de un mismo
                código por causas ajenas a 5B. </p>
            <p>8. El participante que resulte ganador del premio final de la JUGADA GANADORA DE 5B, deberá canjear el
                premio directamente en 5B. </p>
            <p>9. La participación en la dinámica es ciento por ciento gratuita, por lo que ninguna persona ni entidad
                puede cobrar monto alguno a los participantes para participar. Los únicos requisitos son los contenidos
                en este documento. Cualquier cobro para participar en la dinámica no es reconocido ni avalado por 5B.
            </p>
            <p>10. La particpación en la dinámica bajo ningún punto de vista garantiza ni asegura ser favorecido con un
                premio.</p>
            <p>11. Las personas que deseen participar en esta dinámica tienen conocimiento que la participación de ésta
                implica la aceptación de la totalidad de sus términos, condiciones, instrucciones y dinámica, las cuales
                son inapelables.</p>

        </div>
    </div>
</section>