.image-container {
  width: 100%;
  max-width: 960px;
  height: auto;
  max-height: 300px;
  margin: 0 auto;
  overflow: auto;
}

.image-container>.image {
  width: auto;
  height: 300px;
  display: flex;
  max-height: 100%;
}

.image-container>.image>img {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
