<section class="content">
  <div class="row ps-20 a-center j-center wrap condiciones">
    <img class="glow-form-bg" src="../../../assets/images/glow.png" alt="">
    <div class="form-logo">
      <a [routerLink]="['/']"><img class="img-logo" src="../../../assets/images/logo-jugada.png" alt=""></a>
      <img class="img-reg" src="../../../assets/images/registrate.png" alt="">
    </div>
    <form class="formulario" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group2">
        <div class="input-group">
          <div>
            <input type="text" name="nombre" placeholder="Nombre completo" #nombre="ngModel"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="user.nombre" required>
            <small class="error-msg" *ngIf="!nombre.valid && nombre.touched">El nombre no es válido</small>
          </div>
        </div>
        <div class="input-group">
          <div>
            <input type="text" name="dpi" placeholder="DPI" [ngModelOptions]="{standalone: true}" #dpi="ngModel"
              [(ngModel)]="user.dpi" required>
            <small class="error-msg" *ngIf="!dpi.valid && dpi.touched">El DPI no es válido</small>
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="correo" placeholder="Correo Electrónico" #correo="ngModel"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="user.correo" required>
        </div>
        <small class="error-msg" *ngIf="!correo.valid && correo.touched">El correo no es válido</small>
      </div>
      <div class="form-group2">
        <div class="input-group">
          <div>
            <input type="text" name="telefono" placeholder="Teléfono" #telefono="ngModel"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="user.telefono" required>
            <small class="error-msg" *ngIf="!telefono.valid && telefono.touched">El teléfono no es válido</small>
          </div>
        </div>
        <div class="input-group">
          <div>
            <input type="text" name="autorizacion" placeholder="Autorización (AUTH)" #autorizacion="ngModel"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="user.autorizacion" required>
            <small class="error-msg" *ngIf="!autorizacion.valid && autorizacion.touched">El (AUTH) no es válido</small>
          </div>
        </div>
      </div>
      <div class="form-group2">
        <div class="input-group">
          <div>
            <input type="text" name="cajero" placeholder="CAJERO (ATM)" #cajero="ngModel"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="user.cajero">
          </div>
        </div>
        <div class="input-group">
          <div>
            <select [(ngModel)]="user.departamento" [ngModelOptions]="{standalone: true}">
              <option disabled value="0">Seleccione su Departamento</option>
              <option *ngFor="let item of deparments" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group2">
        <div class="custom-input-file col-md-12 col-sm-12 col-xs-12">
          <app-image [fileUrl]="user.file" (getImgUrl)="setImgUrl($event)"></app-image>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Entrar" class="btn-2" [disabled]="userForm.invalid">
      </div>

    </form>

  </div>
</section>
