<section class="content">
  <div class="row ps-20 a-center j-center wrap">
    <img class="glow-form-bg" src="../../../assets/images/glow.png" alt="">
    <div class="form-logo">
      <a [routerLink]="['/']"><img class="img-logo" src="../../../assets/images/logo-jugada.png" alt=""></a>
      <img class="img-reg" src="../../../assets/images/registrate.png" alt="">
    </div>
    <form class="formulario" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group2">
        <input type="text" name="nombre" placeholder="Nombre completo" #nombre="ngModel"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="user.nombre" required #dpi="ngModel">
        <input type="text" name="dpi" placeholder="DPI" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.dpi"
          required>
      </div>
      <div class="form-group">
        <input type="text" name="correo" placeholder="Correo Electrónico" #correo="ngModel"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="user.correo" required>
      </div>
      <div class="form-group2">
        <input type="text" name="telefono" placeholder="Teléfono" #telefono="ngModel"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="user.telefono" required>
        <input type="text" name="autorizacion" placeholder="Autorización (AUTH)" #autorizacion="ngModel"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="user.autorizacion" required>
      </div>
      <div class="form-group2">
        <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
          <input type="file" id="fichero-tarifas" class="input-file" value="" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.file">
          Adjuntar archivo <span class="clip-img"></span>
          </div>
        <input type="text" name="cajero" placeholder="CAJERO (ATM)" #cajero="ngModel"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="user.cajero">
      </div>
      <div class="form-group">
        <input type="submit" value="Entrar" class="btn-2" [disabled]="userForm.invalid">
      </div>

      <small class="error-msg" *ngIf="!nombre.valid && nombre.touched">El nombre no es válido</small>
      <small class="error-msg" *ngIf="!dpi.valid && dpi.touched">El DPI no es válido</small>
      <small class="error-msg" *ngIf="!correo.valid && correo.touched">El correo no es válido</small>
      <small class="error-msg" *ngIf="!telefono.valid && telefono.touched">El teléfono no es válido</small>
      <small class="error-msg" *ngIf="!autorizacion.valid && autorizacion.touched">El (AUTH) no es válido</small>
    </form>

  </div>
</section>
